.footer_1{
    background-image: url("../img/Rectangle\ 6.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.img_1{
    width: 17px;
    height: 17px;
}

.boxx{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.input{
    padding: 20px 50px;
}

.footer_link{
    color: white;
    background-color: #333333;
    padding: 10px 20px;
    position: relative;
    right: 140px;
}

.footer_text{
    margin-top: 100px;
    position: relative;
    top: 0px;
}

.footer_text1{
    position: relative;
    top: 10px;
}

.footer_box{
    margin-right: 90px;
    line-height: 2;
}

.footer_p_text{
    font-size: 18px;
}

.footer_p_text1{
    font-size: 18px;
    position: relative;
    right: 23px;
}

.img_11{
    width: 17px;
    height: 17px;
    position: relative;
    right: 2px;
}


@media  (max-width:850px){

    .footer_link{
        position: relative;
        left: 0px;
        width: 71%;
        margin-bottom: 10px;
    }

    .boxx{
        flex-wrap: wrap;
    }

    .footer_box{
        margin-top: 20px;
        margin-left: 80px;
    }
    
}

@media  (max-width:750px){

    .footer_link{
        position: relative;
        left: 0px;
        width: 71%;
    }
    
}

@media  (max-width:650px){

    .footer_link{
        position: relative;
        left: 0px;
        width: 71%;
    }
    
}

@media  (max-width:550px){

    .footer_link{
        position: relative;
        left: 0px;
        width: 75%;
    }
    
    .footer_box{
       text-align: left;
    }

    .footer_p_text1{
        text-align: left;
        position: relative;
        left: 3px;
    }

}