.footer_1{
    background-image: url("../img/Rectangle\ 6.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 478px;
    background-position: center;
    color: white;
}

.img_1{
    width: 17px;
    height: 17px;
}

.boxx{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.input{
    padding: 20px 50px;
}

.footer_link{
    color: white;
    background-color: #333333;
    padding: 10px 20px;
    position: relative;
    right: 140px;
}

.footer_text{
    margin-top: 100px;
    position: relative;
    top: 80px;
}

.footer_text1{
    position: relative;
    top: 100px;
}

.footer_box{
    margin-right: 90px;
    line-height: 2;
}

.footer_p_text{
    font-size: 18px;
}

.footer_p_text1{
    font-size: 18px;
    position: relative;
    right: 23px;
}

.img_11{
    width: 17px;
    height: 17px;
    position: relative;
    right: 2px;
}