*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
    color: #000;
}

ul, li{
    list-style: none;
}

img{
    width: 100%;
}

body{
    font-family: 'Lora', serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
}



.nav_ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_li{
    display: flex;
    z-index: 3;
    transition: .3s;
}
.nav_li:hover{
    border-bottom: 1px solid rgba(255, 255, 255, 0.705);
}

.nav_li1{
    display: flex;
    z-index: 3;
}

.nav_link{
    color: white;
    margin-top: 20px;
}

.headr_img{
    position: relative;
    top: 15px;
    transition: .3s;
    padding: 0px 20px;
    border-radius: 17px;
}

.headr_img:hover{
    transform: scale(1.1,1.1);
}

.phot{
    width: 18px;
    height: 18px;
    position: relative;
    right: 8px;
    top: 2px;
}

.nav_li12{
    display: flex;
    z-index: 3;
    position: relative;
    top: 6px;
    left: 28px;
}

.nav_li12:hover{
    border-bottom: 1px solid rgba(255, 255, 255, 0.705);
}
