.Headr{
    background-image: url("../img/bgc.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text{
    text-align: center;
    margin-top: 440px;
}

.main_text{
    font-size: 36px;
    color: white;
}

.main_link{
    color: white;
    margin-top: 40px;
    font-size: 18px;
    border: 1px white solid;
    padding: 8px 28px;
    background-color: #333333;
    transition: .3s;
    font-weight: bold;
}

.main_link:hover{
    background-color: rgba(0, 100, 0, 0.349);
    border-radius: 17px;
    transform: scale(1.1,1.2);
}

.img{
    width: 100%;
    margin-top: 100px;
}

.span{
    border: 1px white solid;
    width: 100%;
    position: relative;
    top: 630px;
}
