.img_1_{
    width: 12px;
    height: 10px;
    margin-left: 40px;
}

.main3_ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #333333;
    
}
.main3_li:hover{
    background-color: rgb(21, 119, 21);
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

.main3_li{
    transition: .3s;
    padding: 7px;
}

.main_span{
    border: 1px #D6D6D6 solid;
    margin-top: 12px;
}

.main3_ul_1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    margin-top: 80px;
    margin-left: 35px;
}

.main_li_1{
    margin: 40px;
}

.mian3_text_big{
    color: #333333;
    margin: 20px;
    cursor: pointer;
}

.main_text_big_1{
    color: #333333;
    font-weight: bold;
    cursor: pointer;
}

.main3_link{
    color: white;
    padding: 10px 15px;
    background-color: #333333;
    margin-top: 25px;
    transition: .3s;
}

.main3_link:hover{
    background-color: rgb(6, 83, 6);
    border-radius: 12px;
}

.main3_box{
    border: 1px #3333337a solid;
    position: relative;
    top:-590px;
}

.main3_img{
    margin-top: 120px;
    transition: .3s;
}

.main3_img:hover{
    transform: scale(1.1,1.1);
    box-shadow: -12px 7px 27px rgba(0, 0, 0, 0.3);
}

.main3_link_1{
    color: white;
    background-color: #333333;
    padding: 12px 30px;
    font-weight: bold;
    margin-top: 50px;
    transition: .3s;
}

.main3_link_1:hover{
    background-color: rgb(6, 83, 6);
    border-radius: 12px;
}

.imges_1{
    width: 540px;
    height: 240px;
    margin-right: 50px;
}

.imges_2{
    width: 277px;
    height: 296px;
    position: relative;
    top: 40px;
    left: 50px;
}

.imges{
    margin-top: 100px;
}

.box_main3_img{
    transition: .3s;
}

.box_main3_img:hover{
    transform: scale(1.1,1.1);
    box-shadow: -12px 7px 27px rgba(0, 0, 0, 0.3);
}