.sect1_ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sect1_li{
    margin: 15px;
    transition: .3s;
}

.sect1_li:hover{
    transform: scale(1.1,1.1);
    box-shadow: -17px 17px 27px rgba(0, 0, 0, 0.3);
}

.section1_text{
    color: #333333;
    margin-top: 100px;
    margin-bottom: 20px;
}

.section1_text1{
    color: #333333;
    font-size: 30px;
    margin-bottom: 50px;
}

.sect1_link{
    color: white;
    background-color: #333333;
    padding: 11px 40px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
    transition: .3s;
}

.sect1_link:hover{
    background-color: rgb(0, 100, 0);
    border-radius: 14px;
}